/* Hauptfarben */
:root {
    --primary-color: #F4A261; /* Logo-Orange */
    --secondary-color: #E76F51; /* Dunkleres Orange */
    --background-color: #FAF3E0; /* Helles Beige */
    --text-color: #333333; /* Dunkles Grau für Text */
}

/* Hintergrund und Textfarben */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header */
header {
    background-color: var(--background-color);
    color: var(--text-color);
}

header a img {
    max-width: 200px;
    height: auto;
}

/* Navigation */
.navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--secondary-color);
}

.navbar .nav-link {
    color: var(--text-color);
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: var(--secondary-color);
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Karten und Kategorien */
.card {
    border: 1px solid var(--primary-color);
}

.card-title {
    color: var(--secondary-color);
}

.card a {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
}

.card a:hover {
    background-color: var(--secondary-color);
}
